#header{
  &.open {
    z-index: 10;
    
  }
}
.header__logo {
  border-bottom: 1px solid var(--black100);
  @media (max-width: 800px) {
    border-bottom: 0;
  }
  a {
    display: flex;
    padding: 10px;
    margin: 10px;

    em {
      width: 40px;
      height: 40px;
      display: block;
      background-color: var(--red);
      margin-right: 10px;
      animation: ani 20s 20s ease-in-out infinite;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0xMC4wMjYgMTcuOTg5TDE2LjczMSAxM2MuNTE0LS4zNDQuNTE0LTEuNjUgMC0yTDEwLjAyNiA2LjAxMWMtLjUzMy0uMzU3LTEuMjU2LjAyNi0xLjI1NiAxLjAwNFYxNmMwIC45NzguNzI0IDEuMzU3IDEuMjU2Ljk4OXoiLz48L3N2Zz4=');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }

    span {
      font-size: 20px;
      line-height: 1;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.menu-toggle {
  text-align: left;
  width: 100%;
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--white);
  @media (max-width: 800px) {
    display: block;
  }
  &.open {
    background-color: black;
    
  }
}

.header__menu {
  padding:  0;
  @media (max-width: 800px) {
    display: none;
    &.open {
      display: block;
      background-color: black;
      height: 100vh;
    }
  }

  .menu {
    border-bottom: 1px solid var(--black100);

    li {
      margin-bottom: 5px;

      a {
        font-size: 1rem;
        display: block;
        padding: 0.9rem 2rem 0.9rem 3.125rem;
        margin: 0 0.625rem;
        border-radius: 40px;
        position: relative;
        line-height: 1;
        color: var(--white200);
        transition: all 0.3s;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          position: absolute;
          left: 1.25rem;
          top: 0.75rem;
        }

        &:hover {
          background-color: var(--black100);
          color: var(--white100);
        }
      }

      &.active a {
        background-color: var(--black100);
        color: var(--white);
      }
    }
  }

  .keyword {
    padding: 1.25rem;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid var(--black200);
        font-size: 0.8rem;
        border-radius: 40px;
        margin: 3px 1px;
        transition: all 0.3s;

        &:hover {
          background-color: var(--black100);
          color: var(--white);
        }
      }

      &.active a {
        background-color: var(--black100);
        color: var(--white);
      }
    }
  }
}

.header__sns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 260px;
  text-align: center;
  padding: 15px 0 10px;
  background-color: var(--blackAlpha100);
  backdrop-filter: blur(10px);

  li {
    display: inline-block;

    a {
      padding: 5px 7px;
      display: inline-block;
    }
  }
}

@keyframes ani {
  0% {
    transform: rotate(0) scale(1);
    border-radius: 10px;
  }
  50% {
    transform: rotate(720deg) scale(0.5);
    border-radius: 30px;
  }
  100% {
    transform: rotate(0) scale(1);
    border-radius: 10px;
  }
}

@media (max-width: 800px) {
  .header__sns {
    display: none;  /* 모바일 환경에서 SNS 아이콘 숨기기 */
  }
}
