.video__inner {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: space-between;

  @media (max-width: 1400px){
      grid-template-columns: repeat(3, 32%);
      gap: 15px;
  }
  @media (max-width: 1200px){
      grid-template-columns: repeat(2, 49%);
      gap: 10px;
  }
  @media (max-width: 400px){
      grid-template-columns: repeat(1, 100%);
  }

  .video {
      margin-bottom: 20px;
  }
}

// 비디오 페이지 
.videoViewPage {
    padding: 0;

    @media (max-width: 800px){
        margin-top: 80px;
    }
}
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 56.2%;
        position: relative;
    }

    .video__info {
        padding: 40px;

        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            background-color: #111;
            padding: 10px 30px;
            border-radius: 40px;

            .id {
                font-weight: 800;
            }

            .count {

                span {
                    border-radius: 40px;
                    font-size: 14px;
                    margin-left: 10px;

                    svg {
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .video__desc {
            white-space: pre-line;
            font-family: 'Margarine', sans-serif;
            font-weight: 400;
        }
    } 
}