@font-face {
  font-family: "nexonLv1"; // 폰트 패밀리 이름을 "nexonLv1"로 설정합니다.
  font-weight: 100; // 폰트 굵기를 100으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nexonLv1-Light.woff2") format("woff2"), // woff2 형식의 "nexonLv1-Light" 폰트를 가져옵니다.
       url("../../fonts/nexonLv1-Light.woff") format("woff"); // woff 형식의 "nexonLv1-Light" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nexonLv1"; // 폰트 패밀리 이름을 "nexonLv1"로 설정합니다.
  font-weight: 400; // 폰트 굵기를 400으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nexonLv1-Regular.woff2") format("woff2"), // woff2 형식의 "nexonLv1-Regular" 폰트를 가져옵니다.
       url("../../fonts/nexonLv1-Regular.woff") format("woff"); // woff 형식의 "nexonLv1-Regular" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nexonLv1"; // 폰트 패밀리 이름을 "nexonLv1"로 설정합니다.
  font-weight: 700; // 폰트 굵기를 700으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nexonLv1-Bold.woff2") format("woff2"), // woff2 형식의 "nexonLv1-Bold" 폰트를 가져옵니다.
       url("../../fonts/nexonLv1-Bold.woff") format("woff"); // woff 형식의 "nexonLv1-Bold" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nanumSquareNeo"; // 폰트 패밀리 이름을 "nanumSquareNeo"로 설정합니다.
  font-weight: 300; // 폰트 굵기를 300으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nanumSquareNeo-Light.woff2") format("woff2"), // woff2 형식의 "nanumSquareNeo-Light" 폰트를 가져옵니다.
       url("../../fonts/nanumSquareNeo-Light.woff") format("woff"); // woff 형식의 "nanumSquareNeo-Light" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nanumSquareNeo"; // 폰트 패밀리 이름을 "nanumSquareNeo"로 설정합니다.
  font-weight: 400; // 폰트 굵기를 400으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nanumSquareNeo-Regular.woff2") format("woff2"), // woff2 형식의 "nanumSquareNeo-Regular" 폰트를 가져옵니다.
       url("../../fonts/nanumSquareNeo-Regular.woff") format("woff"); // woff 형식의 "nanumSquareNeo-Regular" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nanumSquareNeo"; // 폰트 패밀리 이름을 "nanumSquareNeo"로 설정합니다.
  font-weight: 700; // 폰트 굵기를 700으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nanumSquareNeo-Bold.woff2") format("woff2"), // woff2 형식의 "nanumSquareNeo-Bold" 폰트를 가져옵니다.
       url("../../fonts/nanumSquareNeo-Bold.woff") format("woff"); // woff 형식의 "nanumSquareNeo-Bold" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nanumSquareNeo"; // 폰트 패밀리 이름을 "nanumSquareNeo"로 설정합니다.
  font-weight: 800; // 폰트 굵기를 800으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nanumSquareNeo-ExtraBold.woff2") format("woff2"), // woff2 형식의 "nanumSquareNeo-ExtraBold" 폰트를 가져옵니다.
       url("../../fonts/nanumSquareNeo-ExtraBold.woff") format("woff"); // woff 형식의 "nanumSquareNeo-ExtraBold" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}

@font-face {
  font-family: "nanumSquareNeo"; // 폰트 패밀리 이름을 "nanumSquareNeo"로 설정합니다.
  font-weight: 900; // 폰트 굵기를 900으로 설정합니다.
  font-style: normal; // 폰트 스타일을 일반(normal)로 설정합니다.
  src: url("../../fonts/nanumSquareNeo-Black.woff2") format("woff2"), // woff2 형식의 "nanumSquareNeo-Black" 폰트를 가져옵니다.
       url("../../fonts/nanumSquareNeo-Black.woff") format("woff"); // woff 형식의 "nanumSquareNeo-Black" 폰트를 가져옵니다.
  font-display: swap; // 폰트가 로드될 때 시스템 폰트와 대체(swap)하도록 설정합니다.
}
